{{#each stories as |story| }}
<div id="story">
    <div>
        <h2>
            <a href="/story/{{story.id}}">{{story.name}}</a>
        </h2>
    </div>

    <!--need to add div here to link image relevant to the story-->

    <div id="story-description">
        <p>
            {{story.description}}
        </p>
    </div>
</div>
{{/each}}

<!--links match-->