<div>
    <h2>What's on your mind, {{user.name}}?</h2>
</div>

<div>

    <div>
        <h3>Write a Story:</h3>

        <form class="form new-story-form">
            <div class="form-group">
                <label for="story-name">Title:</label>
                <input class="form-input" type="text" id="story-name" name="story-name" />
                <label for="story-text">Write Your Story:</label>
                <input class="form-input" type="text" id="story-text" name="story-text" />
            </div>
        </form>
    </div>

    {{#if stories.length}}
    <div class="story-list">
        <h3>Current Stories:</h3>

        {{#each stories as |story|}}
        <div>
            <div>
                <h4><a href="/story/{{story.id}}"><!--{{story.name}}--></a></h4>
            </div>
            <div>
                <button class="delete-button" data-id="{{story.id}}">Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

</div>

<script src="./js/profile.js"></script>

<!--links match-->