<div>
    <h2><!--{{name}}--></h2>
    <!--<p>uploaded image will go here when link has been figured out</p>-->
    <p>{{content}}</p>
    <p>Imagined by {{user.name}} <!--can also add date created once you have figured out how to utilize dependency to format date--></p>
    <p>
        <button id="comment-button">Leave a Comment!</button>
    </p>
</div>