<div>
    <h2 >{{title}}</h2>
    <!--<p>{{url}}</p>uploaded image will go here when link has been figured out-->
    <p>{{content}}</p>
    <p>Imagined by {{user.name}}</p><!--can also add date created once you have figured out how to utilize dependency to format date-->
    <p>
        <button id="comment-button">Leave a Comment!</button>
    </p>
</div>

<!--links match-->